<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Hisab</title>
</head>

<body>
    <div>
        <div class="flex justify-between item-center px-20 py-10 font-semibold">
            <div><a href="/">KhaataBook</a></div>
            <div class="flex justify-between item-center gap-20">
                <div><a href="/">Home</a></div>
                <div><a href="/createhisaab">Create New Hisab</a></div>
            </div>
        </div>


        <div class="flex justify-center item-center flex-col px-20 gap-5">
            <div class="font-semibold">Create New Hisab</div>
            <form action="/create" method="post" class="flex justify-center item-center flex-col w-1/2 gap-5">
                <input class="border-2 border-blue-500 rounded-md p-2" type="text" name="title" placeholder="Shopping Hisaab Ghar ka Karcha">
                <textarea class="border-2 border-blue-500 rounded-md p-2" name="hisab" rows="10" cols="30"
                    placeholder="Aata, Daal, Chini"></textarea>
                <button class="bg-blue-500 p-2 rounded-md w-1/4" type="submit">Create Hisab</button>
            </form>
        </div>
    </div>
</body>

</html>